brotlipy==0.7.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.4
click==8.0.4
cryptography==38.0.1
idna==3.4
lxml==4.9.1
msgpack==0.6.1
natsort==7.1.1
networkx==2.8.4
numpy==1.23.1
pandas==1.2.3
pip==22.2
pycosat>=0.6.3
pycparser==2.21
PyMySQL==1.0.2
pyOpenSSL==22.0.0
PySocks==1.7.1
PyYAML==6.0
python-dateutil==2.8.2
pytz==2022.1
requests==2.28.1
setuptools==63.2.0
six==1.16.0
toolz==0.12.0
tqdm==4.64.1
urllib3==1.26.12
wheel==0.37.1
